kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  namespace: {{ .Values.namespace }}
  name: {{ .Values.name }}
  labels:
    app: {{ .Values.name }}
    giantswarm.io/service-type: "managed"
spec:
  podSelector:
    matchLabels:
      app: {{ .Values.name }}
  policyTypes:
  - Egress
  - Ingress
  ingress:
  - ports:
    - port: {{ .Values.port }}
      protocol: TCP
  egress:
  - to:
    {{ $privateSubnets := list "10.0.0.0/8" "172.16.0.0/12" "192.168.0.0/16" "100.64.0.0/10" -}}
    {{ range $index, $privateSubnet := $privateSubnets -}}
    - ipBlock:
        cidr: {{ $privateSubnet }}
    {{ end -}}
